body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("./img/background.jpg") bottom;
    background-size: cover;
}

canvas {
    background-color: rgba(113, 106, 79, 0.7);
    height: 87vh;
    width: 90vw;
}

div {
    font-size: 24px;
}

.score {
    font-weight: bold;
}

.help {
    font-weight: bold;
    color: #123b0f;
}

.game_finish {
    position: absolute;

}

button {
    border: 1px solid white;
    outline: none;
    padding: 20px;
    font-size: 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
}

button:hover {
    cursor: pointer;
    transition: 400ms;
    transform: scale(1.05);
}

.no_active {
    display: none!important;
}

.first_alert {
    position: absolute;
    background-color: rgb(255, 185, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgb(255, 185, 0);
    font-size: 30px;
    min-width: 300px;
}
